<div class="row">
       <div class="col col-12 text-center">
              <h2>Create Event<h2>
                     {{#each group}}
                     <form action="/api/createEvent/{{this.dataValues.id}}/create" method="POST">

                     <input type="text"
                            class="form-control"
                            name="event_title" value=""
                            placeholder="Event Title"
                            id="enter_text">

                     <input type="text"
                            class="form-control"
                            name="event_date"
                            value=""
                            placeholder="Date (MM/DD/YYYY)"
                            id="enter_text">

                            <input type="text"
                            class="form-control"
                            name="event_group"
                            value=""
                            placeholder="Event Group"
                            id="enter_text">

                     <input type="text"
                            class="form-control"
                            name="event_url"
                            value=""
                            placeholder="Virtual Meeting Link or Address"
                            id="enter_text">

                     <button type="submit" class="btn btn-dark event-submit" id="text-enter-button">Create Event</button>

                     </form>
                     {{/each}}
 </div>