<div class="row">
       <div class="col col-12 text-center">
              <h2>Create Event<h2>
                     
                     <form action="/api/group/1/create-event" method="POST">

                     <input type="text"
                            class="form-control"
                            name="UpcomingEvents" value=""
                            placeholder="Event Title"
                            id="enter_text">

                     <input type="text"
                            class="form-control"
                            name="UpcomingEvents"
                            value=""
                            placeholder="Date (MM/DD/YYYY)"
                            id="enter_text">

                     <input type="text"
                            class="form-control"
                            name="UpcomingEvents"
                            value=""
                            placeholder="Virtual Meeting Link or Address"
                            id="enter_text">

                     <button type="submit" class="btn btn-dark event-submit" id="text-enter-button">Create Event</button>

                     </form>
 </div>