<footer>
  <div class="footer">© 2020 eMeet All Right Resesrved <a href="https://github.com/sabinehutter/Project2"><img
        style="float: right; display: inline; height: 20px" src="/assets/images/Path 4@2x.png"></a></div>

</footer>