<header class="header">

    <nav class="navbar">
        <a href="/"><img class="logo" src="/assets/images/eMeets_logo@2x.png"></a>
        <ul style="float: right">
            <li>
                <a style="color:white" href="/createGroup">Create Group</a>
            <li style="padding-right:30px">
                <a style="color:white" href="/member">Member List</a>
            </li>
            </li>
            <li style="color:white" class="newMemberJoin">
                <a style="color:white" href="/newMember">Join Now</a>
            </li>
        </ul>
    </nav>

</header>