<header class="header">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">StudyApp</a>
         <ul>
        <li>
            <a href="/createGroup">Create Group</a>
        </li>
                <li>
            <a href="/newMember">Join Now</a>
        </li>
         <li>
            <a href="/member">Member List</a>
        </li>
    </ul>
    </nav>
   

    </div>
</header>
