<header class="header">
    <div class="container">
        <p class="name">
            <a href="/">Create Group</a>
            <a href="/">Create Group</a>
            <a href="/">Create Group</a>
        </p>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">StudyApp</a>
        </nav>

    </div>
</header>