<div>
  <img class="group-header-img" src="/assets/images/Mask Group 4@2x.png">
  
   <div>
        {{log groups}}
        {{#each group}}
        <div stlye="text-align: center" class= "group-name">{{this.dataValues.group_name}}</div>
        {{/each}}
        
    </div>
  <button class="cta-1"><a class="join-btn" href="/newMember">Join Group</a></Join></button>
  
</div>


