<div class="row">
    <div class="col col-12 text-center">
        {{log groups}}
        {{#each group}}
        <div>{{this.dataValues.group_name}}</div>
        {{/each}}
        <a class="join-btn" href="#"><button>Join Group</button></a>
    </div>
</div>
</div>