<div class="row">
   {{#each group_name}}
   <div class="col-5 group-card" style="font-size: 36px">{{this.dataValues.group_name}}
      <div style="font-size: 16px">View Group</div>
   </div>
   {{/each}}
</div>