{{>header}}
<div class="row">
    <div class="col col-12 text-center">
        <div>Create New Group</div>
        <div>
            <form action="/api/create-event" method="POST">
                <input type="text" class="form-control" name="comment" value="" placeholder="Group Title"
                    id="enter_text">
                <input type="text" class="form-control" name="comment" value="" placeholder="Description Of Group"
                    id="enter_text">
                <button type="submit" class="btn btn-dark" id="text-enter-button">submit</button>
            </form>
        </div>

{{>footer}}