<div>Create Your Group</div>
<form>
    <input type="text"
                    class="form-control"
                    name="group"
                    value=""
                    placeholder="Group Name"
                    id="enter_text">
                    <textarea placeholder="Describe your group"></textarea>
                <button type="submit"
                        class="btn btn-dark"
                        id="text-enter-button">Create</button>
</form>