{{>header}}
<video autoplay muted loop id="myVideo">
  <source src="/assets/images/200314 _Work Life_02_ 4k_058.mp4" type="video/mp4">
</video>
<div class="row">
    <div class="col col-12 text-center">
        <h1>Create New Group</h1>
        <div>
            <form action="/api/createGroup/create" method="POST">
                <input type="text" class="form-control" name="group_name" value="" placeholder="Group Title"
                    id="enter_text">
                <input type="text" class="form-control" name="group_blurb" value="" placeholder="Description Of Group"
                    id="enter_text">
                <button type="submit" class="btn btn-dark" id="text-enter-button">submit</button>
            </form>
        </div>
</div>

{{>footer}}