{{!-- Need Header --}}
{{>header}}

<div class="container">
    <div>
        {{!-- 6 groups handlebars --}}
        {{>joinGroup}}
        {{>upcomingEventsView}}
        {{>membersViewSection}}
        {{>createEventView}}
        {{!-- post comment --}}
    </div>
</div>

{{!-- Need Footer --}}
<footer> © Covid Placeholder </footer>