{{!-- Need Header --}}
{{>header}}
<div style="width: 100vw; height: 100vh;">
   <video class="img-bg" autoplay muted loop>
      <source src="/assets/images/200314 _Work Life_02_ 4k_058.mp4" type="video/mp4">
   </video>

   <div class="header-title">Where Meetings Become Meetups
       <div style="font-size: 18px; font-weight: 200">Scroll to discover</div>

   </div>

</div>



<div class="container">
   <div class="section-text">Discover Groups</div>
   <div class="row">
      {{!-- 6 groups handlebars --}}
      {{>viewComments}}
      {{!-- post comment --}}
   </div>

</div>

<div class="container" style="margin-top: 80px; margin-bottom: 80px">
   <div class="section-text">How it Works</div>
   <div class="row">
      <div class="col-4 three-col">
         <img class="three-icon" src="/assets/images/Group 9@2x.png">
         <div>Add</div>
         <div> Join a study group that already exists or create your own.</div>
      </div>
      <div class="col-4 three-col">
         <img class="three-icon" src="/assets/images/Group 10@2x.png">
         <div>Schedule</div>
         <div>Add your schedule on the member page to keep track of your appointments.</div>
      </div>
      <div class="col-4 three-col">
         <img class="three-icon" src="/assets/images/Group 11@2x.png">
         <div>Meet</div>
         <div>You can meet virtually or locally depending where your group members are located.</div>
      </div>
   </div>
</div>

<div style="width: 100vw; margin-top: 120px">
   <div class="row">
      <div class="col-6 two-col  pr-0 pl-0" style="background-color:#F79626">
         <div class="two-up-wrap">
            <div class="tag">Can’t find your group?</div>
            <div class="two-up-main">You can always create your own and feel free to invite your friends, family and
               classmates!</div>
            <div class="cta-2" style="display: inline"><a style="color:#F79626!important" href="/createGroup">Create
                  Group</a></div>
         </div>

      </div>
      <div class="col-6 two-col pr-0 pl-0">
         <img style="float:left;width:100%;height:100%; overflow:hidden" src="/assets/images/Mask Group 2@2x.png">
      </div>
   </div>

</div>

{{>footer}}