<div>{{>header}}</div>
<div style="margin-top: 45vh;"></div>
  <img class="group-header-img" src="/assets/images/Group 12@2x.png">
  <div>
<div class="container-fluid">

        <div>
                
                {{>followGroupForm}}
                {{>viewMember}}
                {{>plannerEvent}}

        </div>


</div>

{{>footer}}