{{>header}}
<div class="row">
    <div class="col col-12 text-center">
        <h1>New Member</h1>



        {{!-- <form action="/api/create-event" method="POST"> --}}
        <div>
            <form>
                <input type="text" class="form-control first-name" name="first_name" value="" placeholder="First Name"
                    id="enter_text">
                <input type="text" class="form-control last-name" name="last_name" value="" placeholder="Last Name"
                    id="enter_text">
                <input type="text" class="form-control email_address" name="email_address" value="" placeholder="Email"
                    id="enter_text">
                <input type="text" class=" form-control social_handle" name="social_handle" value=""
                    placeholder="Social Media" id="enter_text">
                <input type="text" class="form-control zip_code" name="zip_code" value="" placeholder="Zip Code"
                    id="enter_text">
                <textarea type="text" class="form-control description" name="description" value=""
                    placeholder="Describe Yourself" id="enter_text"></textarea>

                <select class="groupSelection">
                    {{#each group}}
                    <option class="{{this.dataValues.id}}"> {{this.dataValues.group_name}}</option>
                    {{/each}}
                    </select>
            <button type="submit" class="btn btn-dark" id="submitMember">submit</button>
            </form>
            <div>
            </div>
        </div>
        {{>footer}}