<main class="main contact">
    <div class="container">
        <h1 class="heading">New Member</h1>
        <textarea placeholder="First and Last name"></textarea>
        <textarea placeholder="email"></textarea>
    </div>
    <form action="/api/create-event" method="POST">
        <input type="text" class="form-control" name="comment" value="" placeholder="Event Title" id="enter_text">
        <input type="text" class="form-control" name="comment" value="" placeholder="Date (MM/DD/YYYY)" id="enter_text">
        <input type="text" class="form-control" name="comment" value="" placeholder="E" id="enter_text">
        <button type="submit" class="btn" id="text-enter-button">New Member</button>
    </form>
</main>